.game-board {
    margin: 25px;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 25px;
}

.game-cell {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.game-cell.is-x {
    color: blue;

}

.game-cell.is-o {
    color: orange;
}

.game-reset {
    margin: 25px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: chartreuse;
    font-size: 16px;
}

.game-winner {
    margin: 25px;
    font-size: 20px;
    color: brown;

}